<div class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><a id="about_me" class="anchor">About Me</a></h2>

        <div class="col-md-6 col-md-offset-3">
          <p>
            Hi, 我是龍仲能，高雄人，台大畢。今年 32 歲，有半年的 Rails 實務開發經驗。
          </p>
          <p>
            2009 年退伍後，我去紐約做生意，並逐漸接觸到新創。
            隨著對新創越來越嚮往，我從 2015 年 9 月開始自學 Rails。
            有感於自學的緩慢，於是在 2016 年 3 月報名了坊間 Rails EC 課程，加速人生迭代。
            半年後的現在，我已經能夠撰寫 User Story、規劃開發流程／時程，並將一個個功能透過 Rails 逐步開發出來，
            再用 HTML, CSS 和 jQuery 做出質感。
          </p>
          <p>
            另外，我也持續自學工程師相關的技術，例如參加 Soft & Share 辦的 "<strong>Agile Web Development with Rails 5</strong>" 及 "<strong>The Effective Engineer</strong>" 讀書會、
            2016 年 9 月開始參加 Tealeaf Academy 的 <strong>Ruby</strong> 線上課程及自學 <strong>RSpec</strong>。
            接下來，我還想要學 <strong>JavaScript, React, Vue.js, RubyMotion</strong>, 以及所有能讓我成為<strong>遠端</strong>＋<strong>全端</strong>工程師的技術。
          </p>
          <p>
            和新創沾得上邊的自學有二，一是和讀書會朋友舉辦<strong>電子商務</strong>讀書會，內容涵蓋 <strong>Google Analytics, User Experience, Growth Hacking</strong> 等；
            另一是 <strong>Infographics</strong>，用圖像呈現資訊並有效傳達理念和訴求。
          </p>
          <p>
            最上方導覽列中的 "My Blog" 紀錄了我的學習心得。旁邊的 Github 章魚貓則可以連往我的 Github 頁面。
            如果覺得我們有機會一起工作，把產品做到超級棒，請按 "<strong>Contact Me</strong>" 聯絡我，謝謝。
          </p>
        </div>

      </div>
    </div>

    <br>

    <div id="down_arrow">
      <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
      <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
      <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
    </div>

    <br>

    <div id="footer_contact_me">
      <%= mail_to "lionlies@gmail.com", "Contact Me" %>
    </div>

    <br>
    <br>
  </div>
</div>
