<div class="jumbotron">
  <div class="container">
    <h1>Hi, it's Jason!</h1>
    <p>Rent from people in over 34,000 cities and 192 countries.</p>
    <a href="#">Learn More</a>
  </div>
</div>

<div class="neighborhood-guides">
  <div class="container">
    <h2><a id="mywork">My Work</a></h2>
    <p>Not sure where to stay? We've created neighborhood guides for cities all around the world.</p>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://goo.gl/0sX3jq">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ipsum voluptatum deleniti architecto? Illum hic excepturi nesciunt aperiam sint recusandae omnis, itaque qui, atque accusamus iste dolorem, fugit laudantium?</p>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Mt_Dabajian-winter_view.jpg">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nesciunt corporis ea porro perspiciatis repudiandae esse tenetur sed praesentium, quia illum soluta, odio dolorum a, consequatur et sunt consectetur fuga.</p>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://goo.gl/0Kd7UO">
      </div>
    </div>
  </div>
</div>

<div class="learn-more">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3><a id="aboutme">About Me</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, a, dolores. Neque perferendis, repellendus iure odit illum dignissimos possimus quasi, explicabo officia sunt cumque. Facere sit cupiditate, quas aspernatur sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore et voluptatem porro exercitationem saepe consequuntur eveniet ut nobis consequatur quisquam odio deserunt vel, repellat recusandae in cupiditate? Est recusandae, repellendus!</p>
        <p><a href="#">See how to travel on Airbnb</a></p>
      </div>
    </div>
  </div>
</div>
