<div class="nav">
  <div class="container">
    <ul class="pull-left">
      <li>My Work</li>
      <li>About Me</li>
      <li><%= link_to "My Blog", "https://lionlies.github.io", target: "_blank" %></li>
      <li>
        <%= link_to "https://github.com/lionlies", target: "_blank" do %>
          <i class="fa fa-github-alt fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
    <ul class="pull-right">
      <li><%= link_to "Resume", "https://drive.google.com/file/d/0B3LpHVXagwo5eHNtOWtoSmIwTEE/view?usp=sharing", target: "_blank" %></li>
      <li><%= link_to "Contact Me", "#" %></li>
    </ul>
  </div>
</div>
