/*
 *= require_self
 */

 @import "normalize.css";
 @import "font-awesome";
 @import "shift.css";
 @import "home.scss";
 @import "bootstrap-sprockets";
 @import "bootstrap";


/* bootstrap navbar height */
 .navbar-nav > li > a, navbar-brand {
   padding-top:1px !important;
   padding-bottom:0px !important;
   height: 20px;
 }
 .navbar {min-height:20px !important}

.anchor {
   padding-top: 90px;
}
