.nav li {
  display:inline-block;
  color:#5a5a5a;
  font-size:11px;
  font-weight:bold;
  padding:14px 10px;
  text-transform:uppercase;
}

.jumbotron {
  background-image:url('https://goo.gl/i1e9MK');
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;

  a {
    font-weight: bold;
  }

  p {
    font-size:20px;
    color:#fff;
  }

  .container {
    position:relative;
    top:100px;

    h1 {
      color:#ffffff;
      font-size:48px;
      font-family:'Shift', sans-serif;
      font-weight:bold;
    }
  }
}

.neighborhood-guides {
  background-color:#efefef;
  border-bottom:1px solid #dbdbdb;
  h2 {
    text-align: center;
    color:#393c3d;
    font-size:24px;
  }

  p {
    text-align: center;
    font-size:15px;
    margin-bottom:13px;
  }
}

.learn-more {
  background-color:#f7f7f7;
  border-bottom:1px solid #dbdbdb;

  h3 {
    font-family:'Shift', sans-serif;
    font-size:18px;
    font-weight:bold;
  }

  a {
    color:#00b0ff;
  }
}

.contact-me {
  background-color:#efefef;
  h3 {
    font-family:'Shift', sans-serif;
    font-size:18px;
    font-weight:bold;
  }
  p {

  }
}
