.nav li {
  display:inline-block;
  color:#5a5a5a;
  font-size:11px;
  font-weight:bold;
  padding:14px 8px;
  text-transform:uppercase;
}

#jumbotron {
  background-image:url('https://c1.staticflickr.com/9/8526/28956859094_cc990b3f23_h.jpg');
  height:780px;
  background-repeat:no-repeat;
  background-size: cover;

  a {
    font-weight: bold;
  }

  p {
    font-size:20px;
    color:#fff;
  }

  .container {
    position:relative;
    top:100px;

    h1 {
      color:#ffffff;
      font-size:48px;
      font-family:'Shift', sans-serif;
      font-weight:bold;
    }
  }
}

.my-work {
  background-color:#efefef;
  border-top:1px solid #dbdbdb;
  border-bottom:1px solid #dbdbdb;
  padding-top: 20px;
  h2 {
    text-align: center;
    color:#393c3d;
    font-size:24px;
  }

  p {
    text-align: center;
    font-size:15px;
    margin-bottom:13px;
  }
}

.about-me {
  background-color:#f7f7f7;
  border-bottom:1px solid #dbdbdb;
  padding-top: 20px;
  h3 {
    font-family:'Shift', sans-serif;
    font-size:18px;
    font-weight:bold;
    padding-bottom: 10px;
  }

  a {
    color:#00b0ff;
  }
}
